@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

body {
	font-family: 'Inter', sans-serif;
}
.bg__color {
	background-image: linear-gradient(
		to right bottom,
		#003daf,
		#0064c8,
		#0085d4,
		#00a3d5,
		#00bfd4,
		#00bfd4,
		#00bfd4,
		#00bfd4,
		#00a3d5,
		#0085d4,
		#0064c8,
		#003daf
	);
}
.profile__modal .ant-modal-footer {
	display: none;
}
.avatar-uploader .ant-upload.ant-upload-select {
	width: 30px !important;
	height: 30px !important;
	margin-top: 60px;
}
.avatar-uploader .ant-upload-list-item-error {
	border-color: gray !important;
}
.avatar-uploader .ant-tooltip {
	display: none !important;
}
.ant-upload-list.ant-upload-list-picture-circle
	.ant-upload-list-item-container {
	width: 150px !important;
	height: 150px !important;
}
.rccs__card--unknown > div {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-image: url('./assets/card.jpg') !important;
}
